*.o
tblcompile
tblcompile.debug
tblcompile.profile
*.pdf
*.yy.c
*.tab.h
*.tab.c
makerules
.emacs*
*.gch
TAGS
*.dat
*.out
*.pol
*.csv
#*
*.pyc
*.txt
*.bin
documents/*
bitmask
bitmask.debug
bitmask.profile
h1
h1.debug
h1.profile

